.container {
    position: relative;
    top: 100px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    position: relative;
    top: 5px;
    width: 40px;
    margin-right: 20px;
}
.content {
    color: #fbe0c4;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}
