.nav {
    margin: 20px;
    color: #fbe0c4;
}
.container {
    align-items: center;
    position: sticky;
    background-color: #2978b5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    height: 65px;
}
