.active {
    color: #7e4dea;
}

.nav {
    color: white;
    position: fixed;
    width: 100vw;
    background-color: #1b1c30;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    &_logo {
        margin: 2rem;
        width: 10%;
        cursor: pointer;
    }
    &_page {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        div {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 2rem;

            cursor: pointer;
        }
    }
    &_linked {
        img {
            cursor: pointer;
            margin: 2rem 1rem;
        }
    }
    // div {
    //     padding: 1.5rem;
    //     font-size: 1rem;
    //     cursor: pointer;
    //     transition: 0.2s all;
    // }
}
